body {
  margin: 0;
}

.calendar {
  $start: (mon: 0, tue: 1, wed: 2, thu: 3, fri: 4, sat: 5, sun: 6);

  display: flex;
  flex-wrap: wrap;
  width: 710px;
  margin: 60px auto;
  font-family: Arial, sans-serif;
  font-size: 30px;

  & div {
    display: none;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #000;
    margin: 0 1px 1px 0;
    background-color: #eee;
    cursor: pointer;
    transition: all ease-out 0.5s;
  }

  & div:hover {
    background-color: pink;
    transform: translateY(-20px);
  }

  @for $days from 1 through 31 {
    & div:nth-child(#{$days})::before {
      display: flex;
      content: "#{$days}";
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    &-#{$days} div:nth-child(-n+#{$days}) {
      display: block;
    }
  }

  @each $day, $point in $start {
    &-#{$day} div:first-child {
      margin-left: (101 * $point)+px;
    }
  }
}
